.modal{
    background-color: #1b2530;
    border-radius: 10px;
    max-width: 800px;
    /* height: 500px; */
    margin: 40px auto 0 auto;
    z-index: 100;
    position: relative;
}

.modal__overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}

.close-button{
    float: right;
    background: unset;
    border: unset;
    position: absolute;
    top: 3%;
    right: 3%;
}

.close-button:hover{
    color: #00a8e1;
    cursor: pointer;
}

.modalTitle{
    width: 700px;
    height: auto;
    margin: auto;
    background-color: lawngreen;
    position: relative;
    /* top: 50%; */
}

/* titulo movie */
.titleMovieDesc{
    position: absolute;
    top: 5%;
}

.movieVideo{
    width: inherit;
    height: 450px;
    /* background-color: yellowgreen; */
    margin-bottom: 50px;
    margin: auto;
    /* position: absolute; */
    /* top: 10%; */
}

.semVideo{
    background-color: aquamarine;
}

/* .modalConteudo{
    position: absolute;
    top: 60%;
} */